<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->

<head>

    <meta charset="utf-8">

    <title>Escuela de Innovación Pública - Red Ciudadana</title>
    <!--insert your title here-->
    <meta name="description" content="Education - Learning theme for your business">
    <!--insert your description here-->
    <meta name="author" content="nicdark">
    <!--insert your name here-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--meta responsive-->

    <!--START CSS-->
    <link rel="stylesheet" href="/css/nicdark_style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!--style-->

    <!--google fonts-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    

    <!--[if lt IE 9]>  
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>  
    <![endif]-->

    <!--FAVICONS-->
    <link rel="shortcut icon" href="/img/favicon/FAVICON2.png">
    <!--link rel="apple-touch-icon" href="/img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-touch-icon-114x114.png"-->
    <!--END FAVICONS-->

    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% block head%}
    {% endblock %}
</head>

<body id="start_nicdark_framework">



    <!--START nicdark_site-->
    <div class="nicdark_site">

        <!--START nicdark_site_fullwidth-->
        <div class="nicdark_site_fullwidth nicdark_site_fullwidth_boxed nicdark_clearfix">



            <!--START search container-->
            <div
                class="nicdark_display_table nicdark_transition_all_08_ease nicdark_navigation_5_search_content nicdark_bg_greydark_alpha_9 nicdark_position_fixed nicdark_width_100_percentage nicdark_height_100_percentage nicdark_z_index_1_negative nicdark_opacity_0">

                <!--close-->
                <div
                    class="nicdark_cursor_zoom_out nicdark_navigation_5_close_search_content nicdark_width_100_percentage nicdark_height_100_percentage nicdark_position_absolute nicdark_z_index_1_negative">
                </div>


                <div class="nicdark_display_table_cell nicdark_vertical_align_middle nicdark_text_align_center">
                    <div class="nicdark_width_700 nicdark_width_250_all_iphone nicdark_display_inline_block">
                        <div
                            class="nicdark_width_80_percentage nicdark_padding_5 nicdark_box_sizing_border_box nicdark_float_left nicdark_position_relative">
                            <input
                                class="nicdark_border_width_2 nicdark_background_none nicdark_border_top_width_0 nicdark_border_right_width_0 nicdark_border_left_width_0 nicdark_first_font nicdark_color_white nicdark_placeholder_color_white nicdark_font_size_30 nicdark_line_height_30"
                                type="text" placeholder="Search">
                        </div>
                        <div
                            class="nicdark_width_20_percentage nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left nicdark_position_relative">
                            <a class="nicdark_width_55 nicdark_height_55 nicdark_display_inline_block nicdark_text_align_center nicdark_box_sizing_border_box nicdark_bg_green nicdark_padding_15 nicdark_border_radius_3 "
                                href="courses.html">
                                <img alt="" width="25" src="/img/icons/icon-search-white.svg">
                            </a>
                        </div>
                    </div>
                </div>



            </div>
            <!--END search container-->




            <!--START menu responsive>
            <div
                class="nicdark_navigation_5_sidebar_content nicdark_padding_40 nicdark_box_sizing_border_box nicdark_overflow_hidden nicdark_overflow_y_auto nicdark_transition_all_08_ease nicdark_bg_green nicdark_height_100_percentage nicdark_position_fixed nicdark_width_300 nicdark_right_300_negative nicdark_z_index_9">

                <img alt="" width="25"
                    class="nicdark_close_navigation_5_sidebar_content nicdark_cursor_pointer nicdark_right_20 nicdark_top_20 nicdark_position_absolute"
                    src="/img/icons/icon-close-white.svg">



                <div class="nicdark_navigation_4_sidebar">
                    <ul>
                        <li>
                            <a href="/">Inicio</a>
                        </li>
                        <li>
                            <a href="/cursos">Cursos</a>
                        </li>

                        <li>
                            <a href="https://redciudadana.org/">Red Ciudadana</a>
                        </li>
                    </ul>
                </div>
            </div>
            <END menu responsive-->





            <!--div class="nicdark_section">

                <div class="nicdark_section nicdark_bg_grey">




                    <start nicdark_container>
                    <div class="nicdark_container nicdark_clearfix">

                        <div
                            class="grid grid_6 nicdark_padding_botttom_10 nicdark_padding_top_10 nicdark_text_align_center_responsive">
                        </div>


                        <div
                            class="grid grid_6 nicdark_text_align_right nicdark_border_top_1_solid_grey_responsive nicdark_text_align_center_responsive nicdark_padding_botttom_10 nicdark_padding_top_10">


                            <div class="nicdark_navigation_top_header_5">
                                <ul>
                                    <li>
                                        <img alt="" class="nicdark_margin_right_10 nicdark_float_left" width="15"
                                            src="/img/icons/icon-user-grey.svg">
                                        <a href="/admin">Administración</a>
                                    </li>
                                    < <li>
                            <img alt="" class="nicdark_margin_right_10 nicdark_float_left" width="15" src="/img/icons/icon-login-grey.svg">
                            <a href="#">REGISTER</a>
                        </li> >
                                </ul>
                            </div>


                        </div>


                    </div>
                    <end container>

                </div>

            </div-->

            <div class="nicdark_section nicdark_position_relative">

                <div class="nicdark_section nicdark_position_absolute nicdark_bg_white">

                    <!--start nicdark_container-->
                    <div class="nicdark_container nicdark_clearfix nicdark_position_relative ">

                        <div class="grid grid_12 nicdark_display_none_all_responsive center">



                            <!--LOGO-->
                            <div class="nicdark_text_align_right nicdark_float_left nicdark_display_none_all_responsive">
                                <a href="/">
                                    <img src="/img/RED.png" height="50px"  alt="Red Ciudadana">
                                </a>
                                <a href="/" style="vertical-align:super">
                                    <img src="/img/ESCUELA.png" height="50px" style="margin-left:5px" alt="Escuela de Innovación Pública">
                                </a>
                            </div>         

                            <div
                                class="nicdark_navigation_3 nicdark_text_align_right nicdark_float_right nicdark_display_none_all_responsive" >
                                <ul >
                                    <li>
                                        <a  class="links-verdes" href="/">Inicio</a>
                                    </li>
                                    <li>
                                        <a  class="links-verdes" href="/">Escuela</a>
                                    </li>
                                    <li>
                                        <a  class="links-verdes" href="/cursos/">Cursos</a>
                                    </li>
                                    <li>
                                        <a  class="links-verdes" href="/">Contacto</a>
                                    </li>
                                </ul>
                            </div>

                            <!--REDES-->
                            <div class="nicdark_text_align_right nicdark_float_right nicdark_display_none_all_responsive center margin-left redes">
                                <a href="/">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="/" style="vertical-align:super">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="/" style="vertical-align:super">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </div>

                        </div>

                        <!--RESPONSIVE-->
                        <div
                            class="nicdark_width_50_percentage nicdark_text_align_center_all_iphone nicdark_width_100_percentage_all_iphone nicdark_float_left nicdark_display_none nicdark_display_block_responsive">
                            <div class="nicdark_section nicdark_height_20"></div>
                            <a href="/">
                                <img src="/img/ESCUELA.png" height="50px" alt="Escuela de Innovación Pública">
                            </a>
                        </div>
                        <div
                            class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_float_left nicdark_display_none nicdark_display_block_responsive">

                            <div class="nicdark_width_100_percentage nicdark_text_align_right nicdark_text_align_center_all_iphone">
                                <div class="nicdark_section nicdark_height_10"></div>
                                <a class="nicdark_display_block nicdark_color_dark nicdark_semibold" href="/">Inicio</a>
                                <div class="nicdark_section nicdark_height_10"></div>
                                <a class="nicdark_display_block nicdark_color_dark nicdark_semibold" href="/">Escuela</a>
                                <div class="nicdark_section nicdark_height_10"></div>
                                <a class="nicdark_display_block nicdark_color_dark nicdark_semibold" href="/cursos/">Cursos</a>
                                <div class="nicdark_section nicdark_height_10"></div>
                                <a class="nicdark_display_block nicdark_color_dark nicdark_semibold" href="/">Contacto</a>
                                <div class="nicdark_section nicdark_height_10"></div>
                            </div>
                        </div>
                        <!--RESPONSIVE-->





                    </div>
                    <!--end container-->

                </div>

            </div>

            {% block main %}
            {% endblock %}

            <div class="nicdark_section">
                <div class="nicdark_section nicdark_bg_greydark nicdark_border_top_1_solid_greydark" style="display: none">

                    <!--start nicdark_container-->
                    <div class="nicdark_container nicdark_clearfix">

                        <div class="nicdark_section nicdark_height_30"></div>

                        <div class="grid grid_2">
                            <img alt="" class="nicdark_width_100_percentage" src="/img/partner/logo1.png">
                        </div>
                        <div class="grid grid_2">
                            <img alt="" class="nicdark_width_100_percentage" src="/img/partner/logo4.png">
                        </div>
                        <div class="grid grid_2">
                            <img alt="" class="nicdark_width_100_percentage" src="/img/partner/logo3.png">
                        </div>
                        <div class="grid grid_2">
                            <img alt="" class="nicdark_width_100_percentage" src="/img/partner/logo2.png">
                        </div>
                        <div class="grid grid_2">
                            <img alt="" class="nicdark_width_100_percentage" src="/img/partner/logo5.png">
                        </div>
                        <div class="grid grid_2">
                            <img alt="" class="nicdark_width_100_percentage" src="/img/partner/logo6.png">
                        </div>


                        <div class="nicdark_section nicdark_height_30"></div>


                    </div>
                    <!--end container-->

                </div>
            </div>


            <div class="nicdark_section nicdark_bg_greydark" style="background-color:#00314f!important">

                <div class="nicdark_section nicdark_height_50"></div>

                <!--start nicdark_container-->
                <div class="nicdark_container nicdark_clearfix">


                    <div class="grid grid_12 ">

                        <div class="nicdark_section nicdark_height_20"></div>

                        <div class="nicdark_display_inline_block" style="display: none;">
                            <a href="/"><img alt="" width="40" class="nicdark_margin_right_10"
                                    src="/img/icons/icon-facebook-circle.svg"></a>
                            <a href="/"><img alt="" width="40" class="nicdark_margin_right_10"
                                    src="/img/icons/icon-twitter-circle.svg"></a>
                        </div>

                    </div>

                    <div class="row">
                        <div class="nicdark_width_33_percentage nicdark_width_100_percentage_responsive nicdark_float_left">
                            <div class="footer-wrapper mb-30">
                                
                                <div class="footer-text">
                                    <p>Somos una organización sin fines de lucro, creada con la misión de incentivar la participación y la auditoría ciudadana. </p>
                                </div>
                                <div class="footer-icon footer-02-icon">
                                    <a href="https://www.facebook.com/Redciudadanagt"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://twitter.com/redxguate"><i class="fab fa-twitter"></i></a>
                                    <!--a href="#"><i class="fab fa-google-plus-g"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a-->
                                    <a href="https://www.instagram.com/redxguate/"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="nicdark_width_33_percentage nicdark_width_100_percentage_responsive nicdark_float_left">
                            <div class="footer-wrapper mt-25 mb-30">
                                <h3 class="footer-title">¿Te gusta lo que hacemos?</h3>
                                <ul class="contact-link">
                                    <li>
                                        <div class="contact-address-icon">
                                            <i class="fa fa-heart txt-white"></i>

                                        </div>
                                        <div class="contact-address-text">
                                            <!--span>26 Simpson Avenue <br> Harrisburg,  USA</span-->
                                            <a href="http://donacion.redciudadana.org/"><span>Donaciones</span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="contact-address-icon">
                                            <i class="fa fa-users txt-white"></i>
                                        </div>
                                        <div class="contact-address-text">
                                            <!--span>support@gmail.com</span-->
                                            <a href="http://voluntarios.redciudadana.org/"><span>Voluntariado</span></a>
                                        </div>
                                    </li>
                                    <!--li>
                                        <div class="contact-address-icon">
                                            <i class="far fa-phone"></i>
                                        </div>
                                        <div class="contact-address-text">
                                            <span>+012 (3456) 7788</span>
                                        </div>
                                    </li-->
                                </ul>
                            </div>
                        </div>

                        <div class="nicdark_width_33_percentage nicdark_width_100_percentage_responsive nicdark_float_left">
                            <div class="footer-wrapper mt-25 mb-30">
                                <h3 class="footer-title">Contáctanos</h3>
                                <!--div class="footer-link"-->
                                <ul class="contact-link">
                                    <li>
                                        <div class="contact-address-icon">
                                            <i class="fa fa-envelope txt-white"></i>

                                        </div>
                                        <div class="contact-address-text">
                                            <!--span>26 Simpson Avenue <br> Harrisburg,  USA</span-->
                                            <a href="mailto:info@redciudadana.org.gt"><span>info@redciudadana.org.gt</span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="contact-address-icon">
                                            <i class="fa fa-map-marker txt-white"></i>

                                        </div>
                                        <div class="contact-address-text">
                                            <!--span>26 Simpson Avenue <br> Harrisburg,  USA</span-->
                                            <a href="https://goo.gl/maps/PWTeqy6qRpNQ8foC7"><span>Guatemala, Guatemala</span></a>
                                        </div>
                                    </li>
                                    <!--li><a href="#">Need A Job ?</a></li>
                                    <li><a href="#">Become A Menber ?</a></li>
                                    <li><a href="#">Appointment</a></li>
                                    <li><a href="#">Our Store</a></li>
                                    <li><a href="#">Setting & Privacy</a></li-->
                                </ul>
                                <!--/div-->
                            </div>
                        </div>
                    </div>

                </div>
                <!--end container-->

                <div class="nicdark_section nicdark_height_50"></div>

            </div>

            <div class="nicdark_section nicdark_bg_greydark   nicdark_text_align_center" style="background-color:#00314f!important">
                
                <!--start nicdark_container-->
                <div class="nicdark_container nicdark_clearfix nicdark_border_top_1_solid_greydark " style="justify-content:center">

                   
                    <div class="grid grid_12 nicdark_text_align_center_responsive mt-25 mb-30" style="display:flex; align-items:center">
                         <a href="https://redciudadana.org/"><img src="/img/LOGO-RED_BLANCO.png" height="40px" style="margin-right:25px"></a><p class="nicdark_color_grey nicdark_font_size_14" style="color:#fff">Asociación Civil Red Ciudadana</p>
                    </div>

                    

                </div>
                <!--end container-->

            </div>

        </div>
    </div>


    {% block javascripts %}
    {% endblock %}
    <!--js-->
    <script src="js/nicdark_plugins.js" type="text/javascript"></script>

</body>

</html>