<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.init();
      const user = window.netlifyIdentity.currentUser();
      if (!user) {
        document.location.href = '/';
      }
    }
  </script>
</head>

<body>
  {{ content | safe }}
</body>

</html