<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">Escuela</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/mycourses">Cursos</a>
          </li>
        </ul>
        <div>
          <div data-netlify-identity-menu></div>
        </div>
      </div>
    </div>
  </nav>
  <div class="w-100 bg-light mb-4">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-3 mb-4 text-center">
          <img src="{{ thumbnail }}" alt="{{ title }}">
        </div>
        <div class="col-12 col-md-8 mb-4 d-flex">
          <h1 class="mt-auto">{{ title }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ content | safe }}
      </div>
      <div class="col-12 col-md-8">
        <ol class="list-group list-group-numbered">
          {%- for class in collections.class -%}
          {% if class.data.course == title %}
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              {{ class.data.title }}
            </div>
            <a href="{{ class.url }}">
              Ver
            </a>
          </li>
          {% endif %}
          {%- endfor -%}
        </ol>
      </div>
    </div>
  </div>
  <script>
    if (window.netlifyIdentity) {
      netlifyIdentity.on('init', user => {
        // window.netlifyIdentity.init();
        // const user = window.netlifyIdentity.currentUser();
        console.log(user);
        if (!user) {
          document.location.href = '/';
        }
      });
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  <style>
    .netlify-identity-menu {
      display: flex;
      margin: 0;
    }
  
    .netlify-identity-item {
      display: block;
      margin-left: 0.25rem;
      margin-right: 0.25rem;
      padding: 0.5rem 1rem;
      border: 1px solid #adb5bd;
      border-radius: 10px;
    }
  
    .netlify-identity-item a {
      color: #212529;
      font-weight: bold;
      text-decoration: none;
    }
  </style>
</body>

</html