<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->

<head>

    <meta charset="utf-8">

    <title>Escuela de Innovación Pública - Red Ciudadana</title>
    <!--insert your title here-->
    <meta name="description" content="Education - Learning theme for your business">
    <!--insert your description here-->
    <meta name="author" content="nicdark">
    <!--insert your name here-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--meta responsive-->

    <!--START CSS-->
    <link rel="stylesheet" href="/css/nicdark_style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!--style-->

    <!--google fonts-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    

    <!--[if lt IE 9]>  
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>  
    <![endif]-->

    <!--FAVICONS-->
    <link rel="shortcut icon" href="/img/redciudadana.png">
    <!--link rel="apple-touch-icon" href="/img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-touch-icon-114x114.png"-->
    <!--END FAVICONS-->

    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% block head%}
    {% endblock %}
</head>

<body id="start_nicdark_framework">



    <!--START nicdark_site-->
    <div class="nicdark_site">

        <!--START nicdark_site_fullwidth-->
        <div class="nicdark_site_fullwidth nicdark_site_fullwidth_boxed nicdark_clearfix">


            <div class="nicdark_section nicdark_position_relative ">

                <div class="nicdark_section nicdark_bg_white">
                    <!--start nicdark_container-->
                    <div class="nicdark_container nicdark_clearfix nicdark_position_relative">

                        <div class="grid grid_12 nicdark_display_none_all_responsive">

                            <div class="nicdark_section nicdark_height_10"></div>

                            <!--LOGO-->
                            <div class="center nicdark_text_align_right nicdark_float_left nicdark_display_none_all_responsive">
                                <a href="/">
                                    <img src="/img/new_elements/LOGOTIPOS/LOGOTIPOS-17.png" height="50px"  alt="Red Ciudadana">
                                </a>
                                <a href="/" style="vertical-align:super">
                                    <img src="/img/new_elements/LOGOTIPOS/LOGOTIPOS-18.png" height="50px" style="margin-left:15px" alt="Escuela de Innovación Pública">
                                </a>
                            </div>

                            <!--REDES-->
                            <div class="nicdark_text_align_right nicdark_float_right nicdark_display_none_all_responsive center margin-left redes" style="padding-top:10px">
                                <a href="/">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="/" style="vertical-align:super">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="/" style="vertical-align:super">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </div>         

                            <div
                                class="center nicdark_navigation_3 nicdark_text_align_right nicdark_float_left nicdark_display_none_all_responsive" >
                                <ul style="padding-top:10px">
                                    <li>
                                        <a  class="links-verdes" href="/index.html">Inicio</a>
                                    </li>
                                    <li>
                                        <a  class="links-verdes" href="/escuela/index.html">Escuela</a>
                                    </li>
                                    <li>
                                        <a  class="links-verdes" href="/cursos/index.html">Cursos</a>
                                    </li>
                                    <li>
                                        <a  class="links-verdes" href="/contacto/index.html">Contacto</a>
                                    </li>
                                </ul>
                            </div>



                        </div>




                        <!--RESPONSIVE-->
                        <div
                            class="nicdark_width_50_percentage nicdark_text_align_center_all_iphone nicdark_width_100_percentage_all_iphone nicdark_float_left nicdark_display_none nicdark_display_block_responsive">
                            <div class="nicdark_section nicdark_height_20"></div>
                            <a href="/">
                                <img src="/img/ESCUELA.png" height="50px" alt="Escuela de Innovación Pública">
                            </a>
                        </div>
                        <div
                            class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_float_left nicdark_display_none nicdark_display_block_responsive">
                            <div class="nicdark_section nicdark_height_20"></div>
                            <div
                                class="nicdark_width_100_percentage nicdark_text_align_right nicdark_text_align_center_all_iphone">
                                <div class="nicdark_section nicdark_height_10"></div>
                                <a class="nicdark_display_block nicdark_color_dark nicdark_semibold" href="/">Inicio</a>
                                <div class="nicdark_section nicdark_height_10"></div>
                                <a class="nicdark_display_block nicdark_color_dark nicdark_semibold" href="/">Escuela</a>
                                <div class="nicdark_section nicdark_height_10"></div>
                                <a class="nicdark_display_block nicdark_color_dark nicdark_semibold" href="/cursos/">Cursos</a>
                                <div class="nicdark_section nicdark_height_10"></div>
                                <a class="nicdark_display_block nicdark_color_dark nicdark_semibold" href="/">Contacto</a>
                                <div class="nicdark_section nicdark_height_10"></div>
                            </div>
                        </div>
                        <!--RESPONSIVE-->
                    </div>
                    <!--end container-->

                </div>

            </div>

            <!-- END HEADER -->

            {% block content%}
            {% endblock %}

            <div class="nicdark_section">
                <div class="nicdark_section nicdark_bg_greydark nicdark_border_top_1_solid_greydark" style="display: none">

                    <!--start nicdark_container-->
                    <div class="nicdark_container nicdark_clearfix">

                        <div class="nicdark_section nicdark_height_30"></div>

                        <div class="grid grid_2">
                            <img alt="" class="nicdark_width_100_percentage" src="/img/partner/logo1.png">
                        </div>
                        <div class="grid grid_2">
                            <img alt="" class="nicdark_width_100_percentage" src="/img/partner/logo4.png">
                        </div>
                        <div class="grid grid_2">
                            <img alt="" class="nicdark_width_100_percentage" src="/img/partner/logo3.png">
                        </div>
                        <div class="grid grid_2">
                            <img alt="" class="nicdark_width_100_percentage" src="/img/partner/logo2.png">
                        </div>
                        <div class="grid grid_2">
                            <img alt="" class="nicdark_width_100_percentage" src="/img/partner/logo5.png">
                        </div>
                        <div class="grid grid_2">
                            <img alt="" class="nicdark_width_100_percentage" src="/img/partner/logo6.png">
                        </div>


                        <div class="nicdark_section nicdark_height_30"></div>


                    </div>
                    <!--end container-->

                </div>
            </div>


            <!-- footer-area-start -->
            <footer>
                <div class="nicdark_section pt-80 pb-25" style="background-image:url(/img/03.png);   ">
                    <div class="grid grid_12">
                        <div class="nicdark_section nicdark_height_30"></div>
                        <div class="nicdark_section nicdark_height_30"></div>
                        <div class="nicdark_width_80_percentage nicdark_width_100_percentage_responsive" style="display:flex;justify-content:space-between;margin:auto">
                            <div class="nicdark_width_33_percentage nicdark_width_100_percentage_responsive nicdark_float_left">
                                <div class="footer-wrapper mb-30">
                                    <div style="display:flex;justify-content:start">
                                        <a href="index.html"><img src="/img/LOGO-RED_BLANCO.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="nicdark_width_33_percentage nicdark_width_100_percentage_responsive nicdark_float_right">
                                <div style="display:flex;justify-content:end">
                                    <a style="margin:0 3px;" href="https://www.facebook.com/Redciudadanagt"><img width="60px" src="/img/REDES-27.png"></a>
                                    <a style="margin:0 3px" href="https://twitter.com/redxguate"><img width="60px" src="/img/REDES-28.png"></a>
                                    <a style="margin:0 3px" href="https://www.instagram.com/redxguate/"><img width="60px" src="/img/REDES-29.png"></a>
                                    <a style="margin:0 3px" href="https://www.youtube.com/channel/UCQwc62j7beStZYFzwPxBEQg"><img width="60px" src="/img/REDES-30.png"></a>
                                </div>
                            </div>
                        </div>
                        <div class="nicdark_section nicdark_height_30"></div>
                        <div class="nicdark_width_80_percentage nicdark_width_100_percentage_responsive" style="display:flex;justify-content:center;margin:auto">
                            <img width="100%" src="/img/09.png">
                        </div>
                        <div class="nicdark_section nicdark_height_30"></div>
                        <div class="footer-bottom-area pt-25 mt-45" style="border-top:none">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="copyright text-center">
                                        <p style="text-align:center;color:#fff"><!--i class="far fa-copyright"></i> 2020 <a href="#">Fundee.</a--> Asociación Civil Red Ciudadana</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nicdark_section nicdark_height_30"></div>
                    </div>
                </div>
            </footer>
            <!-- footer-area-end -->

        </div>
    </div>

    <button onclick="topFunction()" id="goToTop" title="Go to top">⤴</button>


    <!--js-->   
    <script src="js/goToTop.js" type="text/javascript"></script> 
    <script src="js/nicdark_plugins.js" type="text/javascript"></script>

    {% block body_javascripts %}
    {% endblock %}

</body>

</html>