---
permalink: "/contacto/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Escuela - Contacto</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block content %}

            <div class="nicdark_section nicdark_background_size_cover nicdark_background_position_center_top padding-responsive"
                style="background-image:url(/img/SLIDER-08.png)">
                <div class="nicdark_section">
                    



                    <!--start nicdark_container-->
                    <div class="nicdark_container nicdark_clearfix center">


                        <div class="grid grid_8">



                            <strong
                                class="nicdark_font_size_40 nicdark_font_size_40_responsive nicdark_line_height_40_responsive nicdark_first_font nicdark_display_block text-white p-5"
                            >
                                Contáctanos
                            </strong>


                        </div>

                    </div>
                    <!--end container-->


                </div>

            </div>

            <div class="nicdark_section nicdark_height_50"></div>
            <div class="nicdark_section nicdark_height_50"></div>

            <div class="nicdark_section">

                <div class="nicdark_container nicdark_clearfix">

                    <div class="grid grid_12">

                        <div class="nicdark_width_50_percentage nicdark_width_100_percentage_responsive nicdark_float_left " >
                            <h1 style="font-size:30px;" class="nicdark_margin_bottom_20">Para más información de eventos, dudas o de nuestro trabajo</h1>
                            <p class="nicdark_margin_bottom_20">Llena el siguiente formulario y nuestro equipo te estará contactando</p>
                            <h6 class="nicdark_margin_bottom_20">Síguenos a través de nuestras redes sociales</h6>
                            <div class="row">
                                <div class="nicdark_width_100_percentage nicdark_width_100_percentage_responsive">
                                    <a href="https://www.facebook.com/Redciudadanagt"><img width="10%" src="/img/REDES-43.png"></a>
                                    <a href="https://twitter.com/redxguate"><img width="10%" src="/img/REDES-44.png"></a>
                                    <a href="https://www.instagram.com/redxguate/"><img width="10%" src="/img/REDES-45.png"></a>
                                    <a href="https://www.youtube.com/channel/UCQwc62j7beStZYFzwPxBEQg"><img width="10%" src="/img/REDES-46.png"></a>
                                </div>
                            </div>
                        </div>

                        <div class="nicdark_width_50_percentage nicdark_width_100_percentage_responsive nicdark_float_left " >
                            <form class="contact_form nicdark_margin_left_20" id="form" target="_self" onsubmit="return postToForm();" action="" autocomplete="off">
                                <input id="name" name="entry.1064235632" type="string" required placeholder="Nombre Completo"/>
                                <input id="email" name="entry.1330832081" type="email" required placeholder="Correo Electrónico"/>
                                <input id="affair" name="entry.1233483376" type="string" placeholder="Asunto / Motivo de Contacto"/>
                                <textarea id="message" name="entry.608682247" type="string" required placeholder="Mensaje"></textarea>
                                <button id="send" type="submit" class="btn_black">Envíanos un Mensaje</button>
                            </form>

                            <h3 id="success-msg" class="nicdark_margin_left_20" style="display:none;"> Su mensaje ha sido enviado</h3>
                        </div>

                    </div>
                </div>
            </div>
            <div class="nicdark_section nicdark_height_50"></div>
            <div class="nicdark_section nicdark_height_50"></div>
            <!--iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe2DNIWZVQugZ_G-rQCzO9EKpWr66ZXe8rbBBHtKYduKIeXyQ/viewform?embedded=true" width="640" height="1025" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe-->

{% endblock %}

{% block body_javascripts %}
        <script>
            function postToForm() {
                var field1 = $("#name").val();
                var field2 = $("#email").val();
                var field3 = $("#affair").val();
                var field4 = $("#message").val();

                $.ajax({
                    url: "https://docs.google.com/forms/d/e/1FAIpQLSe2DNIWZVQugZ_G-rQCzO9EKpWr66ZXe8rbBBHtKYduKIeXyQ/formResponse?",
					data: {"entry.1064235632": field1, "entry.1330832081": field2, "entry.1233483376": field3, "entry.608682247": field4},
                    type: "POST",
                    dataType: "xml",
                    success: function(d)
					{
					},
					error: function(x, y, z)
						{

							$('#success-msg').show();
							$('#form').hide();
							
						}
                });
				return false;
            }
        </script>

{% endblock %}