---
permalink: "/escuela/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Escuela - Nosotros</title>
{% endblock %}

{% block content %}
            <!-- Banner-area-end -->
            <div class="nicdark_section nicdark_background_size_cover nicdark_background_position_center_top padding-responsive"
                style="background-image:url(/img/SLIDER-08.png)">
                <!--video class="nicdark_section fullscreen" playsinline autoplay muted loop>
                <source src="img/VIDEO_SLIDER.mp4" type="video/mp4">
                </video-->
                <div class="nicdark_section">
                    



                    <!--start nicdark_container-->
                    <div class="nicdark_container nicdark_clearfix center">


                        <div class="grid grid_8">



                            <strong
                                class="nicdark_font_size_40 nicdark_font_size_40_responsive nicdark_line_height_40_responsive nicdark_first_font nicdark_display_block text-white p-5"
                            >
                                Red Ciudadana
                            </strong>


                        </div>

                    </div>
                    <!--end container-->


                </div>

            </div>

            <div class="nicdark_section nicdark_height_10"></div>
            <div class="nicdark_section nicdark_height_50"></div>

            <!-- Nosotros-area-start -->
            <div class="nicdark_section">
                <div class="nicdark_container nicdark_clearfix">
                    <div class="grid grid_12 center" >
                        <div class="nicdark_width_80_percentage nicdark_width_100_percentage_responsive nicdark_float_center ">
                            <div class="nicdark_section">

                                    
                                <strong class="nicdark_font_size_30 nicdark_font_size_30_responsive nicdark_line_height_30_responsive nicdark_first_font nicdark_display_block p-5">
                                    Somos una organización sin fines de lucro creada para acercar a la ciudadanía con sus instituciones.
                                </strong>
                                <p >Nuestros proyectos están orientados a promover la transparencia,
                                la rendición de cuentas, y la colaboración entre la
                                ciudadanía, con organizaciones de sociedad civil y
                                gobierno. La tecnología y la comunicación son parte
                                de las herramientas que utilizamos para fortalecer
                                las instituciones públicas y reducir los obstáculos que
                                inhiben a la ciudadanía de participar.</p>
                                <br>
                                <strong class="nicdark_font_size_30 nicdark_font_size_30_responsive nicdark_line_height_30_responsive nicdark_first_font nicdark_display_block p-5">
                                    Nuestra Misión
                                </strong>
                                <div class="linea_lg"></div>
                                <p >Nuestra misión es promover la transparencia y la
                                        apertura de las instituciones públicas para que exista
                                        una efectiva auditoría ciudadana. Queremos que la
                                        ciudadanía no sólo participe en la fiscalización de
                                        los asuntos públicos, sino que también sea parte
                                        activa de la solución. Para ello nos valemos de la
                                        metodología de Gobierno Abierto.</p>
                            </div>
                            <div class="nicdark_section nicdark_height_50"></div>
                            <div class="nicdark_section text-center">
                                <a class="btn_black" href="/cursos/index.html">Nuestros Cursos ></a>
                            </div>

                            <div class="nicdark_section nicdark_height_50"></div>
                            <div class="nicdark_section nicdark_height_50"></div>
                            
                        </div>

                    </div>
                </div>
            </div>
            <!-- Nosotros-area-end -->


{% endblock %}

{% block body_javascripts%}


{% endblock %}