---
permalink: "index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Escuela | Red Ciudadana</title>
{% endblock %}

{% block content%}

            <div class="nicdark_section nicdark_background_size_cover nicdark_background_position_center_bottom"
                >
                <video class="fullscreen" playsinline autoplay muted loop>
                <source src="img/VIDEO_SLIDER.mp4" type="video/mp4">
                </video>

                <div class="nicdark_section">


                    <div class="nicdark_section nicdark_height_250"></div>

                    <!--start nicdark_container-->
                    <div class="nicdark_container nicdark_clearfix">


                        <div class="grid grid_8">



                            <strong
                                class="nicdark_font_size_40 nicdark_font_size_40_responsive nicdark_line_height_40_responsive nicdark_first_font nicdark_display_block text-white"
                            >
                                Escuela de participación ciudadana y derechos humanos
                            </strong>

                            <div class="nicdark_section nicdark_height_30"></div>

                            <p class="nicdark_font_size_20 nicdark_line_height_30 text-white" >
                                Un lugar para el encuentro, el aprendizaje, la experimentación y la construcción de una comunidad de práctica didicada a la justicia, la igualdad y cambio social desde el poder de las comunidades 
                            </p>

                            <div class="nicdark_section nicdark_height_30"></div>

                            <a
                                class="button-new"
                                href="https://redciudadana.org/"
                            >
                                Más información
                            </a>

                        </div>

                    </div>
                    <!--end container-->


                    <div class="nicdark_section nicdark_height_250"></div>


                </div>

            </div>

            <div class="nicdark_section nicdark_height_50"></div>

            <div class="nicdark_section">

                <div class="nicdark_container nicdark_clearfix">

                    <div class="grid grid_12">

                        <div class="nicdark_width_33_percentage nicdark_width_100_percentage_responsive nicdark_float_left" >
                            <div class="seccion-inicial">
                                <img src="/img/05_ICONOS/01.png"/>
                                <h4>Herramientas</h4>
                                <p>Te brindamos herramientas y destrezas para el ejercicio de la abogacía
                                    comunitaria y el activismo en derechos
                                </p>
                            </div>
                        </div>

                        <div class="nicdark_width_33_percentage nicdark_width_100_percentage_responsive nicdark_float_left" >
                            <div class="seccion-inicial borders">
                                <img src="/img/05_ICONOS/2.png"/>
                                <h4>Comunidad de Práctica</h4>
                                <p>Te alentamos a formar parte de una comunidad de práctiva
                                    en el activismo de derechos
                                </p>
                            </div>
                        </div>

                        <div class="nicdark_width_33_percentage nicdark_width_100_percentage_responsive nicdark_float_left" >
                            <div class="seccion-inicial">
                                <img src="/img/05_ICONOS/03.png"/>
                                <h4>Red Colaborativa</h4>
                                <p>Ponemos a disposición una red organizaciones y profesionales regionalm
                                    para la construccipin de oportunidades
                                </p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="nicdark_section nicdark_height_50"></div>

            <div class="nicdark_section">

                <div class="nicdark_container nicdark_clearfix">


                    <div class="grid grid_12">

                        <h1 class="nicdark_font_size_50"><strong>Nuestros cursos</strong></h1>
                        <div class="nicdark_section nicdark_height_10"></div>
                    </div>

                    
                    {% for course in collections.course %}
                    <div class="nicdark_width_33_percentage nicdark_width_100_percentage_responsive nicdark_float_left" >

                        <div class="nicdark_section nicdark_padding_15 nicdark_box_sizing_border_box">

                            <!--start preview-->
                            <div class="nicdark_section nicdark_border_1_solid_grey_2 nicdark_border_radius_3">

                                <!--image-->
                                <div class="nicdark_section" style="height: 200px; overflow: hidden; width: 100%; text-align: center;">
                                    <img src="{{course.data.thumbnail}}" style="height: calc(100% - 10px);width:100%">
                                </div>
                                <!--image-->


                                <div class="nicdark_section nicdark_padding_20 nicdark_box_sizing_border_box">

                                    <h3>
                                        <a class="nicdark_color_dark nicdark_first_font" href="{{ course.url }}">
                                            <strong>{{course.data.title}}</strong>
                                        </a>
                                    </h3>
                                    <div class="nicdark_section nicdark_height_20"></div>
                                    <div class="nicdark_section nicdark_height_60 nicdark_overflow_hidden nicdark_line_height_20">
                                        {{ course.templateContent | safe}}
                                    </div>

                                </div>

                                <div
                                    class="nicdark_section nicdark_padding_20 nicdark_box_sizing_border_box nicdark_bg_grey nicdark_border_top_1_solid_grey">

                                    <div
                                        class="nicdark_width_33_percentage nicdark_width_50_percentage_all_iphone nicdark_float_right nicdark_text_align_right">
                                        <a
                                            class="nicdark_display_inline_block nicdark_color_white nicdark_bg_red nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13"
                                            href="{{ course.url }}"
                                        >
                                            Más info.
                                        </a>
                                    </div>

                                </div>



                            </div>
                            <!--start preview-->

                        </div>

                    </div>
                    {% endfor %}

                    


                </div>
            </div>

            <div class="nicdark_section nicdark_background_size_cover nicdark_background_position_center_bottom"
                style="background-image:url(img/parallax/img2.png);">
            </div>


{% endblock %}