---
permalink: "index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Escuela | Red Ciudadana</title>
{% endblock %}

{% block content%}

            <div class="nicdark_section nicdark_background_size_cover nicdark_background_position_center_bottom padding-responsive" 
                >
                <video class="fullscreen" playsinline autoplay muted loop>
                <source src="img/VIDEO_SLIDER.mp4" type="video/mp4">
                </video>

                <div class="nicdark_section">




                    <!--start nicdark_container-->
                    <div class="nicdark_container nicdark_clearfix">


                        <div class="grid grid_8">



                            <strong
                                class="nicdark_font_size_40 nicdark_font_size_40_responsive nicdark_line_height_40_responsive nicdark_first_font nicdark_display_block text-white p-5"
                            >
                                Escuela de participación ciudadana y derechos humanos
                            </strong>

                            <p class="nicdark_font_size_20 nicdark_line_height_30 text-white p-5 go-away2" >
                                Un lugar para el encuentro, el aprendizaje, la experimentación y la construcción de una comunidad de práctica didicada a la justicia, la igualdad y cambio social desde el poder de las comunidades 
                            </p>

                            <a
                                class="button-new go-away"
                                href="https://redciudadana.org/"
                            >
                                Más información
                            </a>

                        </div>

                    </div>
                    <!--end container-->


                </div>

            </div>

            <div class="nicdark_section nicdark_height_10"></div>
            <div class="nicdark_section nicdark_height_50"></div>

            <div class="nicdark_section">

                <div class="nicdark_container nicdark_clearfix">

                    <div class="grid grid_12">

                        <div class="nicdark_width_33_percentage nicdark_width_100_percentage_responsive nicdark_float_left" >
                            <div class="seccion-inicial">
                                <img src="/img/05_ICONOS/01.png"/>
                                <h4>Herramientas</h4>
                                <p>Te brindamos herramientas y destrezas para el ejercicio de la abogacía
                                    comunitaria y el activismo en derechos
                                </p>
                            </div>
                        </div>

                        <div class="nicdark_width_33_percentage nicdark_width_100_percentage_responsive nicdark_float_left" >
                            <div class="seccion-inicial borders">
                                <img src="/img/05_ICONOS/2.png"/>
                                <h4>Comunidad de Práctica</h4>
                                <p>Te alentamos a formar parte de una comunidad de práctiva
                                    en el activismo de derechos
                                </p>
                            </div>
                        </div>

                        <div class="nicdark_width_33_percentage nicdark_width_100_percentage_responsive nicdark_float_left" >
                            <div class="seccion-inicial">
                                <img src="/img/05_ICONOS/03.png"/>
                                <h4>Red Colaborativa</h4>
                                <p>Ponemos a disposición una red organizaciones y profesionales regionalm
                                    para la construccipin de oportunidades
                                </p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="nicdark_section nicdark_height_50"></div>
            <div class="nicdark_section nicdark_height_50"></div>

            <div class="nicdark_section" style="background:#f1f4fb">
                <div class="nicdark_section nicdark_height_50"></div>
                <div class="nicdark_section nicdark_height_50"></div>
                <div class="nicdark_container nicdark_clearfix">


                    <div class="grid grid_12" style="text-align:left">

                        <h1 class="nicdark_font_size_40"><strong>Nuestros cursos</strong></h1>
                        <hr>
                        <div class="nicdark_section nicdark_height_10"></div>
                    </div>

                    
                    {% for course in collections.course %}
                    <a href="{{course.url}}">
                    <div class="nicdark_width_33_percentage nicdark_width_100_percentage_responsive nicdark_float_left" >

                        <div id="cuadros" class="nicdark_section nicdark_padding_20 nicdark_box_sizing_border_box" style="height:100%">

                            <!--start preview-->
                            <div class="nicdark_section nicdark_border_1_solid_grey_2 nicdark_border_radius_30 border-top border-bottom" style="background:#fff">

                                <!--image-->
                                <div class="nicdark_section border-top2" style="height: 200px; overflow: hidden; width: 100%; text-align: center;">
                                    <img src="{{course.data.thumbnail}}" style="height: calc(100% - 10px);width:100%">
                                </div>
                                <!--texto-->
                                <div class="nicdark_section nicdark_padding_30 nicdark_box_sizing_border_box">
                                    <h4 class="title-course">{{course.data.title}}</h4>
                                    <div class="linea"></div>
                                    <div class="nicdark_section nicdark_height_10"></div>
                                    <div class="nicdark_section nicdark_height_60 nicdark_overflow_hidden nicdark_line_height_20 text-course">
                                        {{ course.templateContent | safe}}
                                    </div>
                                    <div class="nicdark_section nicdark_height_10"></div>
                                    <div class="text-fecha">        
                                        <p><i class="fa-solid fa-calendar"></i>Inicio: {{ course.data.start_date | date_format }}</p>
                                    </div>
                                </div>

                                



                            </div>
                            <!--start preview-->

                        </div>

                    </div>
                    </a>
                    {% endfor %}

                    
                <div class="nicdark_section nicdark_height_50"></div>
                <div class="nicdark_section nicdark_height_50"></div>
                </div>
            </div>

            <div class="nicdark_section nicdark_height_50"></div>
            <div class="nicdark_section nicdark_height_50"></div>

            <div class="nicdark_section" style="background:#fff">
                <div class="nicdark_container nicdark_clearfix">
                    
                    

                    <div class="grid grid_12" style="text-align:left">

                        <h1 class="nicdark_font_size_40"><strong>Últimos Eventos</strong></h1>
                        <hr>
                        <div class="nicdark_section nicdark_height_10"></div>
                    </div>

                    <!--{{course.data.thumbnail}}  {{ course.url }}  {{course.data.title}}  {{ course.templateContent | safe}}-->
                    {% for course in collections.course %}
                    <a href="{{course.url}}">
                    <div class="nicdark_width_33_percentage nicdark_width_100_percentage_responsive nicdark_float_left" >

                        <div id="cuadros" class="nicdark_section nicdark_padding_20 nicdark_box_sizing_border_box" style="height:100%">

                            <!--start preview-->
                            <div class="nicdark_section nicdark_border_1_solid_grey_2 nicdark_border_radius_30 border-top border-bottom" style="background:#fff">

                                <!--image-->
                                <div class="nicdark_section border-top2" style="height: 200px; overflow: hidden; width: 100%; text-align: center;">
                                    <img src="{{course.data.thumbnail}}" style="height: calc(100% - 10px);width:100%">
                                </div>
                                <!--texto-->
                                <div class="nicdark_section nicdark_padding_30 nicdark_box_sizing_border_box">
                                    <h4 class="title-course">{{course.data.title}}</h4>
                                    <div class="linea"></div>
                                    <div class="nicdark_section nicdark_height_10"></div>
                                    <div class="nicdark_section nicdark_height_60 nicdark_overflow_hidden nicdark_line_height_20 text-course">
                                        {{ course.templateContent | safe}}
                                    </div>
                                    <div class="nicdark_section nicdark_height_10"></div>
                                    <div class="text-fecha">        
                                        <p><i class="fa-solid fa-calendar"></i>Inicio: {{ course.data.start_date | date_format }}</p>
                                    </div>
                                </div>

                                



                            </div>
                            <!--start preview-->

                        </div>

                    </div>
                    </a>
                    {% endfor %}

                    
                </div>
            </div>

            <div class="nicdark_section nicdark_height_50"></div>
            <div class="nicdark_section nicdark_height_50"></div>

{% endblock %}