<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EscuelaConcepto</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">Escuela</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/mycourses">Cursos</a>
          </li>
        </ul>
        <div>
          <div data-netlify-identity-menu></div>
        </div>
      </div>
    </div>
  </nav>
  <!-- <div data-netlify-identity-button>Login with Netlify Identity</div> -->

  <h1>Home</h1>
  <a href="/public">Public</a>
  <a href="/private">Private</a>
  <h2>Cursos</h2>
  <ul>
    {%- for course in collections.course -%}
    <li>
      <a href="{{ course.url }}">
        {{ course.data.title }}
      </a>
    </li>
    {%- endfor -%}
  </ul>
  <h2>Clases</h2>
  <ul>
    {%- for class in collections.class -%}
    <li>
      <a href="{{ class.url }}">
        {{ class.data.title }}
      </a>
    </li>
    {%- endfor -%}
  </ul>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            // document.location.href = "/admin/";
          });
        }
      });
    }
  </script>

  <style>
    .netlify-identity-menu {
      display: flex;
      margin: 0;
    }

    .netlify-identity-item {
      display: block;
      margin-left: 0.25rem;
      margin-right: 0.25rem;
      padding: 0.5rem 1rem;
      border: 1px solid #adb5bd;
      border-radius: 10px;
    }

    .netlify-identity-item a {
      color: #212529;
      font-weight: bold;
      text-decoration: none;
    }
  </style>
</body>

</html>